<div class="follow">
  <% if user.friends_with?(current_user) %>
    <%= form_tag unfriend_path(user_id: user.id), method: :post, remote: true do %>
      <%= button_tag 'unfriend', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= form_tag friend_path(user_id: user.id), method: :post, remote: true do %>
      <%= button_tag 'Add', class: 'btn btn-success' %>
    <% end %>
  <% end %>
</div>