// Place all the styles related to the searchPeople controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_form {
    width: 80% !important;
}

.search_name {
  display    : inline-block;
  font-size: 21px;
  text-transform: capitalize;
}